.footer-container svg {
  width: 20px;
  fill: white;
  margin: 1rem;
  float: right;
}

.footer-container {
  background-color: #282a35;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  text-align: center;
  width: fit-content;
  padding: 2rem;
}

.footer-btn {
  background-color: white;
  color: black;
  /* width: fit-content; */
  margin: 0.5rem;
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
}
.footer-btn-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.footer-item:nth-child(3) {
  grid-column: 1/3;
}
.footer-item:nth-child(4) {
  grid-column: 1/3;
}
@media (width<1000px) {
  .footer-btn:last-child {
    display: none;
  }
}
@media (width<850px) {
  .footer-btn:last-child {
    display: unset;
  }
  .footer-btn-container {
    grid-template-columns: repeat(3, 1fr);
    padding: 3vw 7vw;
  }
  .footer-container {
    grid-template-columns: 1fr;
  }
  .footer-item:nth-child(3) {
    grid-column: unset;
  }
  .footer-item:nth-child(4) {
    grid-column: unset;
  }
  .footer-btn:nth-child(4) {
    grid-column: 1/4;
  }
  .footer-btn:nth-child(5) {
    grid-column: 1/4;
  }
  .footer-btn:nth-child(6) {
    grid-column: 1/4;
  }
  .footer-btn:nth-child(7) {
    grid-column: 1/4;
  }
}
@media (width<500px) {
  .footer-btn-container {
    grid-template-columns: 1fr;
  }
  .footer-btn:nth-child(4) {
    grid-column: unset;
  }
  .footer-btn:nth-child(5) {
    grid-column: unset;
  }
  .footer-btn:nth-child(6) {
    grid-column: unset;
  }
  .footer-btn:nth-child(7) {
    grid-column: unset;
  }
}
